# .env.development
NODE_ENV=development
PORT=3000
API_PREFIX=api
CORS_ORIGINS=http://localhost:3000,http://localhost:4200

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/user_credit_payment"

JWT_SECRET=dev_secret_key_min_32_chars_long_here_123
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=dev_refresh_secret_min_32_chars_long_here_456
JWT_REFRESH_EXPIRES_IN=7d

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=null
REDIS_DB=0

RABBITMQ_URL="amqp://guest:guest@localhost:5672"
